DISHCOVER_BACKEND_PORT=8080
DISHCOVER_ADMINER_PORT=8083

DISHCOVER_DB_NAME=dishcover
DISHCOVER_DB_USER=dishcover
DISHCOVER_DB_PASSWORD=dishcover
DISHCOVER_DB_ROOT_PASSWORD=root

SPRING_JPA_HIBERNATE_DDL_AUTO=update
APP_JWT_SECRET=dishcover-tfg-development-secret-key-2026-manuel-garcia-nieto
APP_JWT_EXPIRATION_MS=36000000
